nav {
    background-color: #FDFDD2;
    color: rgb(52, 48, 48);
    height: 65px;
    font-weight: 600;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}